/*FORM*/
form{
    padding:20px;
    background:#fff;
    max-width:400px;
    min-width:220px;
    display:flex;
    justify-content:center;
}


/*BUTTON*/

.btn{
    border:none;
    border:2px;
    padding: 7px 18px;
    margin-top:12px;
    margin-bottom:4px;
}

.btn-black{
    background:var(--black);
}

.btn-accent{
    background:var(--accent);
}

.btn-accent:hover {
    background: var(--accent);
}

.btn-black:hover {
    background: var(--dark-gray);
}

/*INPUT*/

.input{
    border:2px solid var(--dark-gray);
    padding:4px;
    margin-bottom:16px;
    color:var(--black);
}

.input::placeholder {
    color: var(--light-gray);
}