@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

:root {
    --accent: #1BCF76;
    --light-accent: #20FC8F;
    --lighter-accent: #99FDCC;
    --black: #2B2B2B;
    --dark-gray: #6D6D6D;
    --gray: #999999;
    --light-gray: #D3D3D3;
    --white: #F9F9F9;
}

*:focus {
    outline: 2px solid var(--accent);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background:var(--white);
    margin:0px;
}

.text-white{
    color:var(--white);
}

.text-black {
    color: var(--black);
}

.dp-inl{
    display:inline-block;
}

.dp-flx{
    display:flex;
}

.dp-blk {
    display: block;
}

.jc-center{
    justify-content:center;
}

.jc-start {
    justify-content: flex-start;
}

.jc-end {
    justify-content: flex-end;
}

.jc-space {
    justify-content: center;
}

.grid-center{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.border{
    border:1px solid var(--light-gray);
}

.shadow {
    box-shadow: 0px 14px 18px -19px rgba(0,0,0,0.65);
}

.nav {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0px;
    z-index: 8;
    list-style-type: none;
    margin: 0;
    position: fixed;
    width: 100%;
    padding: 4px;
    background-color: #fff;
    border-bottom: 1px solid var(--light-gray);
}

.nav li {
    padding: 8px;
}

.nav li a {
    padding: 8px 18px;
    text-decoration:none;
    color:var(--dark-gray);
}

.nav li a:hover {
    color: var(--black);
    font-weight:bold;
}

.lh1{
    line-height:1;
}

.lh1-2 {
    line-height: 1.5;
}

.lh2 {
    line-height: 2;
}

.active {
    color: var(--accent) !important;
    font-weight: bold;
}

.main {
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: 12vh;
}

.data-grid-view {
    background:#fff !important;
}

    .data-grid-view td {
        min-width: 60px !important;
        padding: 4px;
    }

    .data-grid-view td a{
        color:#fff;
        padding:2px;
        border-radius:2px;
        margin-left:2px;
        text-decoration:none;
        background:var(--black);
    }

.data-grid-view th{
    background: var(--accent) !important;
    min-width:40px !important;
    padding:4px;
}

    .data-grid-view th a{
        text-decoration:none;
        color:#fff;
    }



